@{
}

<header>
    <h1>Scandinavian Metal Archives</h1>
    <h2>Encyclopaedia Metallum II</h2>
</header>

<nav>
    <ul>
        <a asp-controller="Home" asp-action="Index">Bands</a>
        <a asp-controller="Home" asp-action="Add">Add new</a>
        <a asp-controller="Home" asp-action="Genres">Genres</a>
    </ul>
</nav>
